.wrapper_left {
    display: flex;
    // @include media(width, 350);
    height: 100%;
    border-right: 1px solid $Gray200;
    @include tiny {
        width: 100%;
        @include media(height, 50);
    }
    .mb_menu{
        display: none;
    }
    .menu_list {
        width: 63px;
        border-right: 1px solid $Gray200;
        .logo {
            position: relative;
            @include center;
            height: 63px;
            font-size: 18px;
            &::before {
                content: '';
                display: inline-block;
                width: 30%;
                height: 1px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                background-color: $Gray200;
            }
        }
        ul {
            li {
                button {
                    @include center;
                    @include fontValue($size: 14, $weight: 500);
                    width: 100%;
                    height: 50px;
                }
            }
        }
    }
    @include tiny {
        .mb_menu {
            @include media(height, 50);
            display: block;
            position: absolute;
            z-index: 3;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $White;
            border-bottom: 1px solid $Cyan500;
            & > button {
                @include media(width, 32);
                @include media(height, 32);
                @include media(top, 9);
                @include media(right, 9);
                display: block;
                position: absolute;
                .icon_menu {
                        .menu1{
                            transform-origin:3px 7px;
                            transition: .5s;
                        }
                        .menu2{
                            opacity:1;
                            transition: .5s;
                        }
                        .menu3{
                            opacity:1;
                            transition: .5s;
                            transform-origin:5px 18px;
                        }
                        &.active {
                        .menu1{
                            transform:rotate(45deg);
                        }
                        .menu2{
                            opacity:0;
                        }
                        .menu3{
                            transform:rotate(-45deg);
                        }
                    }
                }
            }
        }
    }
}

.search_wrap {
    @include media(padding, 10, 12);
    position: relative;
    width: 290px;
    @include tiny {
        @include mediaCalc(height, 100vh, '-', 50);
        @include media(top, 50);
        display: none;
        width: 100%;
        position: absolute;
        z-index: 3;
        background-color: $White;
        &.active {
            display: block;
        }
    }
    > .search_form {
        @include media(gap, 8);
        @include media(padding-bottom, 12);
        border-bottom: 1px solid $Gray200;
        display: flex;
        .custom_input_wrapper {
            @include mediaCalc(width, 100%, '-', 75);
            @include media(height, 40);
        }
        .btn_search {
            @include media(width, 60);
            @include media(height, 40);
            @include fontValue($size: 14, $weight: bold);
            background-color: $White;
            border: 1px solid $Gray200;
            border-radius: 8px;
            color: $Black;
        }
    }
    > .search_list {
        .address_wrap {
            @include media(padding-bottom, 120);
            overflow-y: auto;
            height: 100vh;
            li + li {
                border-top: 1px solid $Gray200;
            }
            li {
                @include media(padding, 8,0);
                .title_wrap {
                    a {
                        display: block;
                        text-align: left;
                        b {color: $Gray900; @include fontValue($size: 16, $weight: 700);};
                        span {
                            color: $Gray900;
                            @include media(margin-left, 4);
                            @include fontValue($size: 14, $weight: 400);
                        }
                    }
                }
                .address_list {
                    @include media(margin-top, 8);
                    @include fontValue($size: 14, $weight: 400);
                    p + p {
                        @include media(margin-top, 4);
                    }
                    p { text-align: left; color:  $Gray900; }
                }
            }
        }
        .fetching_text{ 
            @include fontValue($size: 16, $weight: bold);
            @include media(padding-top, 60);
            text-align: center;
        }
    }
}

.search_item_view {
    @include media(width, 300);
    @include media(right, -320);
    @include media(top, 20);
    @include mediaCalc(height, 100%, '-', 50);
    border-radius: 12px;
    overflow: hidden;
    z-index: 2;
    background-color: $White;
    position: absolute;
    .img_wrap {
        position: relative;
        @include media(height, 200);
        @include center;
        background-color: $Gray200;
        .btn_close {
            @include media(width, 15);
            @include media(height, 15);
            @include media(top, 15);
            @include media(right, 15);
            position: absolute;
        }
    }
    .title_wrap {
        @include media(padding, 20);
        @include center;
        flex-direction: column;
        p {
            @include media(gap, 4);
            @include center;
            flex-direction: column;
            b {color: $Black; @include fontValue($size: 20, $weight: 700);};
            span {
                color: $Gray900;
                @include media(margin-left, 4);
                @include fontValue($size: 16, $weight: 400);
            }
        }
    }
    .content {
        border-top: 1px solid $Gray200;
        border-bottom: 1px solid $Gray200;
        .btn_wrap {
            display: flex;
            .btn_list {
                flex: 1;
                &:last-child {
                    position: relative;
                    &::before {
                        content: '';
                        width: 1px;
                        height: 50%;
                        background-color: $Gray200;
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
                button {
                    @include center;
                    @include media(padding, 20);
                    @include media(gap, 4);
                    flex-direction: column;
                    width: 100%;
                }
                .icon_box {
                    @include media(width, 20);
                    @include media(height, 20);
                }
                .text {
                    @include media(font-size, 14);
                }
            }
        }
        .blank {

            @include media(height, 10);
            background-color: $Gray200;
        }
    }
}

.save_wrap {
    @include media(padding, 10, 12);
    position: relative;
    width: 290px;
    @include tiny {
        @include mediaCalc(height, 100vh, '-', 50);
        @include media(top, 50);
        display: none;
        width: 100%;
        position: absolute;
        z-index: 3;
        background-color: $White;
        &.active {
            display: block;
        }
    }
    > .save_list {
        ul {
            @include media(padding-bottom, 120);
            overflow-y: auto;
            height: 100vh;
            li + li {
                border-top: 1px solid $Gray200;
            }
            li {
                @include media(padding, 8,0);
                cursor: pointer;
                .title_wrap {
                    a {
                        display: block;
                        text-align: left;
                        b {color: $Gray900; @include fontValue($size: 16, $weight: 700);};
                        span {
                            color: $Gray900;
                            @include media(margin-left, 4);
                            @include fontValue($size: 14, $weight: 400);
                        }
                    }
                }
                .address_list {
                    @include media(margin-top, 8);
                    @include fontValue($size: 14, $weight: 400);
                    p + p {
                        @include media(margin-top, 4);
                    }
                    p { text-align: left; color:  $Gray900; }
                }
            }
        }
    }
    .fetching_text{ 
        @include fontValue($size: 16, $weight: bold);
        @include media(padding-top, 60);
        text-align: center;
    }
}